/* .card-title-cards{
    background-color: blue !important;
    color: white !important;
} */
/* .card-title-cards{
    color: blue !important;
} */
.jobdesc{
    background-color: antiquewhite !important;
    padding:8px 0px;
    padding-right:2px ;
}
.location {
    display: flex;
    align-items: center;
}

