.card-header {
  background-color: #007BFF !important;
  color: white !important;
}

.card-title {
  background-color: blue !important;
  color: white !important;
  padding: 10px;
}

.card-text {
  font-size: 16px !important;
  line-height: 1.6 !important;
}