.popup-content {
  position: relative;
}

.close-symbol {
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-symbol:hover {
  color: #555;
}

.popup-content button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}